.basket-block {
    position: absolute;
    width: 300px;
    height: 400px;
    background: #ffffff;
    right: 0;
    top: 4%;
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: none;
    scrollbar-color: #dedede #ffffff;
    scrollbar-width: thin;
    overflow-y: scroll;
}

.basket-block::-webkit-scrollbar {
    width: 5px;
}

.basket-block::-webkit-scrollbar-track {
    background: #DADCDE;
    border-radius: 50px;
}

.basket-block::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 50px;
}


.main.active .basket-block {
    display: block;
}

.basket-block .book-item {
    border-bottom: 1px solid #dedede;
    position: relative;
    padding: 10px 0 10px 0;
}

.basket-block .book-item .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.basket-block .book-item .delete span {
    background: #000000;
    transition: .5s;
    width: 1px;
    height: 12px;
    position: absolute;
    right: 7px;
    top: 2px;
}

.basket-block .book-item .delete:hover span {
    background: #a52626;
    transition: .5s;
}

.basket-block .book-item .delete span:nth-of-type(1) {
    transform: rotate(45deg);
}

.basket-block .book-item .delete span:nth-of-type(2) {
    transform: rotate(-45deg);
}

.basket-block .book-item img {
    width: 75px;
    margin: 0 10px 0 0;
}

.basket-block .book-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.basket-block .book-item .title-book h4 {
    margin: 0;
    font-size: 14px;
}

.basket-block .book-item .title-book h5 {
    margin: 15px 0 0 0;
    font-size: 12px;
}